@using Quizzer.API.DAL.Enums;
@using Quizzer.Common.Models;

<div class="card mb-3">
    <div class="card-header text-center">
        @QuestionResultModel.Text
    </div>
    <div class="card-body">
        @foreach(AnswerResultModel answer in QuestionResultModel.Answers)
        {
            <div class="card mb-3 pt-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            @if (!String.IsNullOrEmpty(answer.Text.Trim()))
                            {
                                <text>Text: @answer.Text<br></text>
                            }
                            
                            @if(QuestionResultModel.Type == AnswerFormat.OrderChoice)
                            {
                                <text>Correct order: @answer.CorrectOrder</text>
                                <text>
                                    <div class="@(GetOkOrNokClasses(answer.CorrectOrder == answer.SelectedOrder))">
                                        Selected order: @answer.SelectedOrder
                                    </div>
                                </text>
                            }
                            else
                            {
                                string classes = GetOkOrNokClasses(answer.IsAnswered == answer.IsCorrect);
                                <text>Is correct: @GetYesOrNo(answer.IsCorrect)</text>
                                <text>
                                    <div class="@classes">
                                        Selected: @GetYesOrNo(answer.IsAnswered)
                                    </div> 
                                </text>
                            }
                        </div>
                    </div>

                    <div class="col-md-4">
                        <img src="@answer.PictureUrl" class="answerCardImg pe-3 pb-3 pt-3">
                    </div>
                </div>
            </div>
        }
    </div>
</div>